body{
    background: white;
}
/* .body{
    border: 1px solid yellow;
    width: 201px;
    height: 53px;
    background-color: yellow;
    position: absolute;
    left: 10pc;
}
.tail{
    border: 1px solid yellow;
    width: 209px;
    height: 5px;
    position: absolute;
    top: 2pc;
    border-radius: 23px;
    background-color: yellow;
}
.leg{
    border: 1px solid yellow;
    width: 15px;
    height: 53px;
    position: absolute;
    top: 60px;
    left: 160px;
    background-color: yellow;
}
.foot{
    border: 1px solid yellow;
    width: 40px;
    height: 10px;
    position: absolute;
    top: 110px;
    left: 160px;
    background-color: yellow;
}
#leg{
    border: 1px solid yellow;
    width: 15px;
    height: 53px;
    position: absolute;
    top: 56px;
    left: 346px;
    background-color: yellow;
}
#foot{
    border: 1px solid yellow;
    width: 40px;
    height: 10px;
    position: absolute;
    top: 110px;
    left: 346px;
    background-color: yellow;
}

.neck{
    border: 1px solid yellow;
    width: 30px;
    height: 30px;
    background-color: yellow;
    position: absolute;
    left: 22pc;
    top: 19px;
}
.tigerhead{
    border: 1px solid yellow;
    width: 53px;
    height: 53px;
    background-color: yellow;
    position: absolute;
    left: 22pc;
}
.eye{
    border: 1px solid white;
    color: #000;
    height: 10px;
    width: 10px;
    border-radius: 23pc;
    font-size: 10px;
    justify-content: center;
    background-color: white;
}
.hidden{
    border: 1px solid white;
    height: 20px;
    width: 40px;
    background-color: white;
    float: right;
    justify-content: center;
    margin-top: 5px;
    background: linear-gradient();

} */
.container{
    border: 1px solid white;
    background: white;
    height: 220px;
}
#tiger{
    position: relative;
    left: 1000px;
    top: 380px;
    width: 400px;
}
.aminate{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top: 150px;}
    100%{top: 150px;}
}
.block{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-color: black;
    position: relative;
    top: 240px;
    animation: move 1s infinite linear;
}
@keyframes move{
    0%{right: 1900px;}
    100%{right: -1900px;}
}